.home-page-container {
    
}

.title-container {

}

.home-title-text {
    color: rgb(63, 63, 63);
    text-align: center;

    margin-top: 20px;
    font-size: 70px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;    
}

.home-title-subtitle {
    color: rgb(63, 63, 63);
    text-align: center;

    margin-top: 20px;
    font-size: 25px;
    font-weight: 50px;
    font-family: 'Roboto', sans-serif;
    
}